*.svg
Server/Connection/SSLClient.java
Server/Connection/TestClient.java
Server/Connection/test.java
*.pyc
*.jar
Web_Client_Chaozz/chess_test/static/temp/test.png
*.jpg
venv/
Web_Client_Chaozz/venv/
Web_Client_Chaozz/db.sqlite3
.vscode/*
.idea/*
Web_Client_Chaozz/chess_test/.idea/*
Web_Client_Chaozz/chess_test/.vscode/*
