<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">    
    {% load static %}
    <link href="{% static 'chess_test/style.css' %}" rel="stylesheet">
    <title> {% block title %}{% endblock %}</title>
    {% block head %}{% endblock %}
</head>
<body class="bg-success"  {% block body_atributes%}{% endblock %}> 
    <nav class="navbar navbar-dark bg-dark ">
        <div class="container-fluid d-flex justify-content-center">
           
            <h1 class="selectDisable me-auto">CUSTOM CHESS</h1>
            {% block nav_content_center%}{% endblock %}  
            {% block profile_visibility %}  
            <div class="nav-item dropdown d-none d-sm-block">
                <button class=" px-0 mx-0 bg-dark  ms-auto rounded border border-secondary navButton"
                    data-bs-toggle="dropdown" aria-expanded="false" style="height: 50px;
                    width: auto;">
                    <div class="w-100 d-flex align-items-center">
                        <img class=" rounded me-2 mt-1 ms-1 mb-1 d-flex align-items-center selectDisable border border-success"
                           {%if signin %} src="{% static 'temp' %}/pawn.svg"{%else%} src="{% static 'chess_test' %}/bocchi.jpg" {% endif%}alt="" style="height: 40px; width: 40px;">
                        <div class=" d-flex align-items-center ms-auto me-2 selectDisable text-white">{% if signin %}{{username}}{%else%}Bocchi the Rock!{% endif %}</div>
                    </div>
                </button>
                <div class="dropdown-menu dropdown-menu-center  bg-dark rounded">
                {% if signin  %}
                <button class="dropdown-item w-50 bg-dark navButton text-white">Log out</button>
                {% else %}
                <form class="w-75 ms-auto me-auto " method="post">
                    <div class="form-group">
                        <label for="id_username">Uživatelské jmeno</label>
                        <input class="form-control" id="id_username" name="username">
    
                    </div>    
                    <div class="form-group">
                        <label for="id_password">Heslo</label>
                        <input type="password" class="form-control" id="id_password" placeholder="Password" name="password">
                    </div>                       
                    <button type="submit" class="btn btn-primary">Submit</button>
                    <p class="text-danger">{{msg}}</p>
                </form>
                {% endif %}
               
                </div>
            </div>     
            {%endblock%}
            {% block nav_content_end%}{% endblock %}       
            
        </div>
    </nav>
    {% block body %}
     <div class="container-fluid d-flex align-items-center justify-content-center" style="height: calc(100vh - 90px);">
        <div class="w-25 d-flex justify-content-center align-content-center bg-secondary rounded">
            {% block body_content%}{%endblock body_content%}
            
        </div>
    </div>
    {% endblock %}
</body>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
    crossorigin="anonymous"></script>
</html>