<!DOCTYPE html>
<html lang="en">
{%extends './base.html'%}
<head>
    {%block head%} 
    {%load static%}
    <link href="{% static 'chess_test/style.css' %}" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="{% static 'chess_test/chessboard.js' %}"></script>   
    <script>setPath("{% static 'temp' %}")</script>
    {%endblock%}
   
</head>

<body {%block body_atributes%}onresize="redrawCanvas()"{%endblock%}> 
    {%block body%}
    <script>
       {# drawCanvas({{height}}, {{width}}, {{figures}}); production code #} 
       drawCanvas(6, 9, { 'pawn': [2, 1] }); {# for testing purposes only #}
    </script>
   <div class="container-fluid main_container d-flex ">
        <div class=" row flex-fill align-items-center justify-content-end" style="height: calc(100vh - 90px);">          
            <div id="chessboard" class="col-sm-9 mb-2 order-1 order-sm-2 mt-5 no-gutters">
                <div class=" h-100 d-flex justify-content-center align-items-center " style="position: relative;">
                    <canvas id="canvas-background" style="position: absolute; z-index: 0"></canvas>
                    <canvas id="canvas-figures" style="position: absolute; z-index: 1"></canvas>
                    <canvas id="canvas-moves" style="position: absolute; z-index: 2"></canvas>
                    <canvas id="canvas-animations" style="position: absolute; z-index: 3"
                        onclick="handleClickCanvas(event)"></canvas>
                </div>
            </div>
            <div class=" col-sm-3 order-sm-3 order-3 no-gutters d-flex justify-content-center h-100 align-items-top mt-3 mx-0"
                id="display_2">
                <div class=" bg-secondary w-100 mx-0 card" style="height: 100px;">
                    <div class="w-100 d-flex align-items-center">
                        <img class=" rounded me-auto d-flex align-items-center " src="{% static 'temp' %}/pawn.svg"
                            alt="" style="height: 50px;">
                        <div class=" d-flex align-items-center ms-auto  ">UwU</div>
                    </div>

                </div>
            </div>
        </div>
    </div>
   {% comment %} for testing purposes only
    <script>
        const chatSocket = new WebSocket(
            'ws://'
            + window.location.host
            + '/ws/game/'

        );
        chatSocket.onopen = function (e) {
            console.log('UwU from WebSocket');
        };
        chatSocket.onmessage = function (e) {

            console.log(e);
            let cordinates = JSON.parse(e.data).payload.split(':');
            console.log(cordinates);
            setAnimationCordinates(cordinates[0], cordinates[1], cordinates[2], cordinates[3]);
            drawAnimationFrame();

            let x = document.getElementById('display_1')
            let y = document.createElement('div')
            y.setAttribute('class', 'h-25 bg-secondary w-100 rounded')
            let yy = document.createElement('div')
            let yyy = document.createElement('div')

            x.appendChild(y)
        };
    </script>
   {% endcomment %}
    {%endblock%}
</body>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
    crossorigin="anonymous"></script>


</html>