<!DOCTYPE html>
<html lang="en">

<head>


    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
    <link rel="stylesheet" href="style.css">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Iraq fanpage</title>
</head>

<body>

    <!--
     <ul class="menu">
        <li class="menuItems"><a class="menuA" href="./Turkey.html">Turkey</a></li>
        <li class="menuItems"><a class="menuA" href="./index.html">Iraq</a></li>

    </ul>
    -->
    <div class=" container-fluid backgroundImage">
        <div class="container back">
            <nav class="navbar navbar-expand-lg navbar-light bg-sand" style="background-color:rgb(243, 193, 147);">

                <button class="navbar-toggler" type="button" data-toggle="collapse"
                    data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                    aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item active">
                            <a class="nav-link" href="./index.html">Home <span class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="./Turkey.html">Turkey</a>
                        </li>

                    </ul>
                </div>
            </nav>
            <div class="divMen">
                <a class="icoLink" href="./sad.html"><img class="ico" src="pic/sad.jpg"></a>
                <h1>Iraq</h1>
            </div>
            <div class="container heroImage firstP">

            </div>
            <p class="firstP">

                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quis adipisci in deserunt! Odio illum iusto
                aut
                itaque
                eius, quae illo molestiae! Aperiam itaque corporis repellendus doloribus, perspiciatis numquam et
                dolorum!
            </p>

            <div class="divFlag">
                <img class="flag" src="pic/y.png">
            </div>
            <div class="row mt-2">
                <div class="col-lg-3">
                    <div class="card bg-warning"><h2 class="text-center">Bezpečný</h2></div>
                </div>
                <div class="col-lg-3">
                    <div class="card bg-warning"><h2 class="text-center">Stabilní</h2></div>
                </div>
                <div class="col-lg-3">
                    <div class="card bg-warning"><h2 class="text-center">Prosperující</h2></div>
                </div>
                <div class="col-lg-3">
                    <div class="card bg-warning"><h2 class="text-center">Mírumilovný</h2></div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>