<!DOCTYPE html>
<html lang="en">
{%extends "chess_test/index.html"%}

<body>
    {%block form%}
    <h2 class="mt-2">Obnovení hesla</h2>
    <div class="form-group mt-2">
        <label class="text-light" for="password">Nové heslo</label>
        <input class="form-control" type="password" id="password" name="password">
    </div>
    <div class="form-group mt-2">
        <label class="text-light" for="password_confirm">Potvrzení nového hesla</label>
        <input class="form-control" type="password" id="password_confirm" name="password_confirm">
    </div>
    <button class="form-control mb-3 mt-2 bg-success border-success text-white" type="submit"
        class="btn btn-primary">Odeslat</button>
    {%endblock%}
    {% block profile_visibility%}{%endblock%}

</body>

</html>