<!DOCTYPE html>
<html lang="en">
{%extends "chess_test/base.html"%}
<body>
    {%block body%}
    <div class="container-fluid d-flex align-items-center justify-content-center" style="height: calc(100vh - 90px);">
        <div class=" row w-50 h-25 d-flex justify-content-center align-content-center bg-secondary rounded">

                <h2 class="col-12">{{status}}</h2>
               <div class="col-12 d-flex justify-content-center align-content-center"> <p  class="text-light text-center">{{message}}</p></div>
               <div class="col-12 d-flex justify-content-center align-content-center"> <a href="{% url 'sign_in' %}"  class="text-decoration-none text-light">Zpět na hlavní stránku<a></div>
            
        </div>
    </div>
    {%endblock%}
    {%block profile_visibility%}{%endblock%}
    
</body>
</html>