<!DOCTYPE html>
<html lang="en">
{%extends "chess_test/index.html"%}
<body>
    {%block form%}  
    <h2 class="mt-2">Obnovení hesla</h2>   
    <div class="form-group mt-2">
        <label class="text-light" for="id_email">Nové heslo</label>
        <input class="form-control" type="password" id="id_email" name="email">
    </div>
    <div class="form-group mt-2">
        <label class="text-light" for="id_email">Potvrzení nového hesla</label>
        <input class="form-control" type="password" id="id_email" name="email">
    </div>
    <button class="form-control mb-3 mt-2 bg-success border-success text-white" type="submit"
    class="btn btn-primary">Odeslat</button>
    {%endblock%}
    {% block profile_visibility%}{%endblock%}
    
</body>
</html>